<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::title}, ~{::section})}">

<title>Tags Cadastradas</title>

<section>

  <h2>✅ Tags cadastradas</h2>

  <table border="1" cellspacing="0" cellpadding="6" style="width:100%">
    <thead>
    <tr>
      <th>EPC (TAG)</th>
      <th>Código</th>
      <th>Tipo</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Patrimônio</th>
      <th>Nº Série</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="t : ${tags}">
      <td th:text="${t.tag}">EPC</td>
      <td th:text="${t.codigoInterno}">Código</td>

      <!-- 🔥 RELACIONAMENTOS -->
      <td th:text="${t.tipoNome}">Tipo</td>
      <td th:text="${t.marcaNome}">Marca</td>
      <td th:text="${t.modeloNome}">Modelo</td>

      <td th:text="${t.patrimonio}">Patrimônio</td>
      <td th:text="${t.numeroSerie}">Série</td>
    </tr>
    </tbody>
  </table>

</section>
</html>
