<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Tag</title>
</head>
<body>

<h2>Cadastrar etiqueta</h2>

<form th:action="@{/admin/cadastro/salvar}" method="post">

  <!-- EPC -->
  <label>EPC</label><br>
  <input type="text" name="tag"
         th:value="${cadastro.tag}" readonly><br><br>

  <!-- CÓDIGO INTERNO -->
  <label>Código Interno</label><br>
  <input type="text" name="codigoInterno"
         th:value="${cadastro.codigoInterno}"
         required><br><br>

  <!-- MODELO -->
  <label>Modelo</label><br>
  <input type="text" name="modelo"
         th:value="${cadastro.modelo}"
         required><br><br>

  <!-- PATRIMÔNIO -->
  <label>Patrimônio</label><br>
  <input type="text" name="patrimonio"
         th:value="${cadastro.patrimonio}"
         required><br><br>

  <!-- Nº SÉRIE -->
  <label>Nº Série</label><br>
  <input type="text" name="numeroSerie"
         th:value="${cadastro.numeroSerie}"
         required><br><br>

  <button type="submit">Salvar</button>
</form>

<br>
<a href="/admin/cadastro">← Voltar</a>

</body>
</html>
