<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Tag</title>
</head>
<body>

<h2>Cadastrar etiqueta</h2>

<form th:action="@{/admin/cadastro/salvar}" method="post">

  <label>EPC</label><br>
  <input type="text" name="tag" th:value="${cadastro.tag}" readonly><br><br>

  <label>Modelo</label><br>
  <input type="text" name="modelo" required><br><br>

  <label>Patrimônio</label><br>
  <input type="text" name="patrimonio" required><br><br>

  <label>Nº Série</label><br>
  <input type="text" name="numeroSerie" required><br><br>

  <button type="submit">Salvar</button>
</form>

<br>
<a href="/admin/cadastro">← Voltar</a>

</body>
</html>
